<div class="dean-contact block">
  <div class="contact-card block">
    <a class="contact-card__header block__header" title="Ask a question to Nikolaenkov Yuriy Kimovich, PhD">Radiophysics</a>
    <p class="contact-card__content block__content">Deputy Dean – Nikolaenkov Yuriy Kimovich, PhD</p>
    <div class="contact-card__contact block__contact">
      <div class="contact-card__contact-item">
        <img class="contact-card__contact-icon" src="/assets/Icon/Letter/Small.svg" alt="Write a message to Nikolaenkov Yuriy Kimovich" width="16" height="16"/>
        <a class="contact-card__contact-info" href="mailto:ynickolaenkov@yandex.ru">ynickolaenkov@yandex.ru</a>
      </div>
    </div>
  </div>
  <div class="contact-card block">
    <a class="contact-card__header block__header" href="/ru/department/thp/index.html" title="Deputy Dean – Lyubashevsky Dmitry Evgenievich">Physics</a>
    <p class="contact-card__content block__content">Deputy Dean – Lyubashevsky Dmitry Evgenievich</p>
    <div class="contact-card__contact block__contact">
      <div class="contact-card__contact-item">
        <img class="contact-card__contact-icon" src="/assets/Icon/Letter/Small.svg" alt="Write a message to Lyubashevsky Dmitry Evgenievich" width="16" height="16"/>
        <a class="contact-card__contact-info" href="mailto:dima_physicist@mail.ru" title="Write a message to Lyubashevsky Dmitry Evgenievich">dima_physicist@mail.ru</a>
      </div>
    </div>
  </div>
</div>
