<div class="dean-contact block">
  <div class="contact-card block">
    <a class="contact-card__header block__header" title="Вы можете задать все вопросы по отделению радиофизиков Николаенкову Юрию Кимовичу">Радиофизикам</a>
    <p class="contact-card__content block__content">Заместитель декана по учебной работе — кандидат техн. наук Николаенков Юрий Кимович</p>
    <div class="contact-card__contact block__contact">
      <div class="contact-card__contact-item">
        <img class="contact-card__contact-icon" src="/assets/Icon/Letter/Small.svg" title="Написать Николаенкову Юрию Кимовичу" width="16" height="16"/>
        <a class="contact-card__contact-info" href="mailto:micro138@phys.vsu.ru">micro138@phys.vsu.ru</a>
      </div>
    </div>
  </div>
  <div class="contact-card block">
    <a class="contact-card__header block__header" href="/ru/department/thp/index.html" title="Вы можете задать все вопросы по отделению физиков Любашевскому Дмитрию Евгеньевичу">Физикам</a>
    <p class="contact-card__content block__content">Заместитель декана по учебной работе — кандидат физ.-мат. наук Любашевский Дмитрий Евгеньевич</p>
    <div class="contact-card__contact block__contact">
      <div class="contact-card__contact-item">
        <img class="contact-card__contact-icon" src="/assets/Icon/Letter/Small.svg" title="Написать Любашевскому Дмитрию Евгеньевичу" width="16" height="16"/>
        <a class="contact-card__contact-info" href="mailto:dima_physicist@mail.ru">dima_physicist@mail.ru</a>
      </div>
    </div>
  </div>
</div>
