<div class="contact-card contact-card--featured block">
  <a class="contact-card__caption block__caption" href="tel:+74732208625" title="Позвонить в деканат физического факультета">+7 473 220 86 25</a>
  <p class="contact-card__content block__content">Декан — доктор физ.-мат. наук, профессор Овчинников Олег Владимирович</p>
  <div class="contact-card__contact contact-card__contact--rows block__contact">
    <div class="contact-card__contact-item">
      <img class="contact-card__contact-icon" src="/assets/Icon/Letter/Small.svg" title="Написать в деканат физического факультета" width="16" height="16"/>
      <a class="contact-card__contact-info" href="mailto:ovchinnikov@phys.vsu.ru">ovchinnikov@phys.vsu.ru</a>
    </div>
    <div class="contact-card__contact-item">
      <img class="contact-card__contact-icon" src="/assets/Icon/Time/Small.svg" title="Время работы деканата" width="16" height="16"/>
      <p class="contact-card__contact-info">Пн-Пт: 09:00 - 17:00</p>
    </div>
  </div>
</div>
