<div class="dep-list block">
  <div class="contact-card dep-list__contact-card block">
    <a class="contact-card__header block__header" href="/en/department/kof/index.html" title="Page of department of common physics">Department of common physics</a>
    <p class="contact-card__content block__content">Head – PhD, assoc. professor Turistchev Sergey Yurevich</p>
    <div class="contact-card__contact block__contact">
      <div class="contact-card__contact-item">
        <img class="contact-card__contact-icon" src="/assets/Icon/Phone/Small.svg" title="Call to department of common physics" width="16" height="16"/>
        <a class="contact-card__contact-info" href="tel:+74732208281">+7 473 220 82 81</a>
      </div>
      <div class="contact-card__contact-item">
        <img class="contact-card__contact-icon" src="/assets/Icon/Letter/Small.svg" title="Sent an email to department of common physics" width="16" height="16"/>
        <a class="contact-card__contact-info" href="mailto:kof134@phys.vsu.ru">kof134@phys.vsu.ru</a>
      </div>
    </div>
  </div>
  <div class="contact-card dep-list__contact-card block">
    <a class="contact-card__header block__header" href="/en/department/thp/index.html" title="Page of department of theorethic physics">Department of theorethic physics</a>
    <p class="contact-card__content block__content">Head – PhD, assoc. professor Frolov Mikhail Vladimirovich</p>
    <div class="contact-card__contact block__contact">
      <div class="contact-card__contact-item">
        <img class="contact-card__contact-icon" src="/assets/Icon/Phone/Small.svg" title="Call to department of theorethic physics" width="16" height="16"/>
        <a class="contact-card__contact-info" href="tel:+74732208756">+7 473 220 87 56</a>
      </div>
    </div>
  </div>
  <div class="contact-card dep-list__contact-card block">
    <p class="contact-card__header block__header" title="Page of department of mathimatical physics and information systems">Department of mathimatical physics and information systems</p>
    <p class="contact-card__content block__content">Head – PhD, assoc. professor Pereselkov Sergei Alekseevich</p>
    <div class="contact-card__contact block__contact">
      <div class="contact-card__contact-item">
        <img class="contact-card__contact-icon" src="/assets/Icon/Phone/Small.svg" title="Call to department of mathimatical physics and information systems" width="16" height="16"/>
        <a class="contact-card__contact-info" href="tel:+74732208748">+7 473 220 87 48</a>
      </div>
      <div class="contact-card__contact-item">
        <img class="contact-card__contact-icon" src="/assets/Icon/Letter/Small.svg" title="Sent an email to department of mathimatical physics and information systems" width="16" height="16"/>
        <a class="contact-card__contact-info" href="mailto:pereselkov@yandex.ru">pereselkov@yandex.ru</a>
      </div>
    </div>
  </div>
  <div class="contact-card dep-list__contact-card block">
    <a class="contact-card__header block__header" href="/en/department/ssp/index.html" title="Page of department of solid state physics">Department of solid state physics</a>
    <p class="contact-card__content block__content">Head – PhD, assoc. professor Seredin Pavel Vladimirovich</p>
    <div class="contact-card__contact block__contact">
      <div class="contact-card__contact-item">
        <img class="contact-card__contact-icon" src="/assets/Icon/Phone/Small.svg" title="Call to department of solid state physics" width="16" height="16"/>
        <a class="contact-card__contact-info" href="tel:+74732208363">+7 473 220 83 63</a>
      </div>
      <div class="contact-card__contact-item">
        <img class="contact-card__contact-icon" src="/assets/Icon/Letter/Small.svg" title="Sent an email to department of solid state physics" width="16" height="16"/>
        <a class="contact-card__contact-info" href="mailto:ftt@phys.vsu.ru">ftt@phys.vsu.ru</a>
      </div>
    </div>
  </div>
  <div class="contact-card dep-list__contact-card block">
    <p class="contact-card__header block__header">Department of nuclear physics</p>
    <p class="contact-card__content block__content">Head – PhD, professor Kadmenskii Stanislav Georgievich</p>
    <div class="contact-card__contact block__contact">
      <div class="contact-card__contact-item">
        <img class="contact-card__contact-icon" src="/assets/Icon/Phone/Small.svg" title="Call to department of nuclear physics" width="16" height="16"/>
        <a class="contact-card__contact-info" href="tel:+74732208821">+7 473 220 88 21</a>
      </div>
      <div class="contact-card__contact-item">
        <img class="contact-card__contact-icon" src="/assets/Icon/Letter/Small.svg" title="Sent an email to department of nuclear physics" width="16" height="16"/>
        <a class="contact-card__contact-info" href="mailto:nuc@phys.vsu.ru">nuc@phys.vsu.ru</a>
      </div>
    </div>
  </div>
  <div class="contact-card dep-list__contact-card block">
    <a class="contact-card__header block__header" href="/en/department/optics/index.html" title="Page of department of optics and spectroscopy">Department of optics and spectroscopy</a>
    <p class="contact-card__content block__content">Head – PhD, professor Ovchinnikov Oleg Vladimirovich</p>
    <div class="contact-card__contact block__contact">
      <div class="contact-card__contact-item">
        <img class="contact-card__contact-icon" src="/assets/Icon/Phone/Small.svg" title="Call to department of optics and spectroscopy" width="16" height="16"/>
        <a class="contact-card__contact-info" href="tel:+74732208780">+7 473 220 87 80</a>
      </div>
      <div class="contact-card__contact-item">
        <img class="contact-card__contact-icon" src="/assets/Icon/Letter/Small.svg" title="Sent an email to department of optics and spectroscopy" width="16" height="16"/>
        <a class="contact-card__contact-info" href="mailto:opt@phys.vsu.ru">opt@phys.vsu.ru</a>
      </div>
    </div>
  </div>
  <div class="contact-card dep-list__contact-card block">
    <a class="contact-card__header block__header" href="/en/department/me/index.html" title="Page of department of physics of semiconductor and microelectronics">Department of physics of semiconductor and microelectronics</a>
    <p class="contact-card__content block__content">Head – PhD, professor Bormontov Evgenii Nikolaevich</p>
    <div class="contact-card__contact block__contact">
      <div class="contact-card__contact-item">
        <img class="contact-card__contact-icon" src="/assets/Icon/Phone/Small.svg" title="Call to department of physics of semiconductor and microelectronics" width="16" height="16"/>
        <a class="contact-card__contact-info" href="tel:+74732208633">+7 473 220 86 33</a>
      </div>
      <div class="contact-card__contact-item">
        <img class="contact-card__contact-icon" src="/assets/Icon/Letter/Small.svg" title="Sent an email to department of physics of semiconductor and microelectronics" width="16" height="16"/>
        <a class="contact-card__contact-info" href="mailto:me144@phys.vsu.ru">me144@phys.vsu.ru</a>
      </div>
    </div>
  </div>
  <div class="contact-card dep-list__contact-card block">
    <a class="contact-card__header block__header" href="/en/department/radio/index.html" title="Page of department of radiophysics">Department of radiophysics</a>
    <p class="contact-card__content block__content">Head – PhD, assoc. professor Korchagin Yurii Eduardovich</p>
    <div class="contact-card__contact block__contact">
      <div class="contact-card__contact-item">
        <img class="contact-card__contact-icon" src="/assets/Icon/Phone/Small.svg" title="Call to department of radiophysics" width="16" height="16"/>
        <a class="contact-card__contact-info" href="tel:+74732208916">+7 473 220 89 16</a>
      </div>
      <div class="contact-card__contact-item">
        <img class="contact-card__contact-icon" src="/assets/Icon/Letter/Small.svg" title="Sent an email to department of radiophysics" width="16" height="16"/>
        <a class="contact-card__contact-info" href="mailto:rf-vsu@mail.ru">rf-vsu@mail.ru</a>
      </div>
    </div>
  </div>
  <div class="contact-card dep-list__contact-card block">
    <a class="contact-card__header block__header" href="/en/department/el/index.html" title="Page of department of electronics">Department of electronics</a>
    <p class="contact-card__content block__content">Head – PhD, professor Bobreshov Anatolii Mikhailovich</p>
    <div class="contact-card__contact block__contact">
      <div class="contact-card__contact-item">
        <img class="contact-card__contact-icon" src="/assets/Icon/Phone/Small.svg" title="Call to department of electronics" width="16" height="16"/>
        <a class="contact-card__contact-info" href="tel:+74732208284">+7 473 220 82 84</a>
      </div>
      <div class="contact-card__contact-item">
        <img class="contact-card__contact-icon" src="/assets/Icon/Letter/Small.svg" title="Sent an email to department of electronics" width="16" height="16"/>
        <a class="contact-card__contact-info" href="mailto:bobreshov@phys.vsu.ru">bobreshov@phys.vsu.ru</a>
      </div>
    </div>
  </div>
  <div class="contact-card dep-list__contact-card block">
    <p class="contact-card__header block__header">Department of expiremental physics</p>
    <p class="contact-card__content block__content">Head – PhD, professor Drozhdin Sergei Nikolaevich</p>
    <div class="contact-card__contact block__contact">
      <div class="contact-card__contact-item">
        <img class="contact-card__contact-icon" src="/assets/Icon/Phone/Small.svg" title="Call to department of expiremental physics" width="16" height="16"/>
        <a class="contact-card__contact-info" href="tel:+74732208625">+7 473 220 86 25</a>
      </div>
    </div>
  </div>
</div>
