<footer class="footer">
  <div class="footer__social-list block">
    {% include 'social-list.ru.njk' %}
  </div>
  <section class="footer__menu">{% footerMenu 'ru' %}</section>
  <section class="footer__copyright">{% copyright 'ru' %}</section>
  <section class="footer__address">{% address 'ru' %}</section>
  <section class="footer__language">{% languages 'ru', permalink %}</section>
</footer>
