<footer class="footer">
  <div class="footer__social-list block">
    {% include 'social-list.en.njk' %}
  </div>
  <section class="footer__menu">{% footerMenu 'en' %}</section>
  <section class="footer__copyright">{% copyright 'en' %}</section>
  <section class="footer__address">{% address 'en' %}</section>
  <section class="footer__language">{% languages 'en', permalink %}</section>
</footer>
