<footer class="footer">
  <nav class="footer__menu">{% menuChapter 'ru' %}</nav>
  <section class="footer__copyright">{% copyright 'ru' %}</section>
  <section class="footer__address">{% address 'ru' %}</section>
  <section class="footer__lang">{% languages %}</section>
</footer>
