<footer class="footer">
  <section class="footer__menu">{% footerMenu 'ru' %}</section>
  <section class="footer__copyright">{% copyright 'ru' %}</section>
  <section class="footer__address">{% address 'ru' %}</section>
  <section class="footer__language">{% languages 'ru' %}</section>
</footer>
