<footer class="footer">
  <section class="footer__menu">{% menuChapter 'en' %}</section>
  <section class="footer__copyright">{% copyright 'en' %}</section>
  <section class="footer__address">{% address 'en' %}</section>
  <section class="footer__lang">{% languages %}</section>
</footer>
