<header class="header">
  <section class="header__menu">
    <button class="header__menu-button button">
      <img class="header__menu-icon" src="/assets/Logo/logo.svg" width="32" height="32" alt="Меню сайта Физческого факультета" />
      <span class="header__menu-title button__title">Меню</span>
    </button>
  </section>
  <nav class="header__navigation">
    <h2 class="header__navigation-title">ФизФак</h2>
    <ul class="header__navigation-list">{% menuChapter 'ru', 'nav' %}</ul>
  </nav>
  <section class="header__language">{% languages 'ru' %}</section>
</header>
