<header class="header">
  <nav class="header__menu"><h2>Меню</h2><ul class="header__menu-container">{% menuChapter 'en' %}</ul></nav>
  <section class="header__branding">
    <a href="/" class="header__logo"></a>
    <a href="/" class="header__sitename">ФизФак</a>
  </section>
  <section class="header__lang">{% languages %}</section>
</header>
