<header class="header">
  <section class="header__menu">
    <button class="button button--sticky" title="Открыть меню сайта">
      <img class="button__icon" src="/assets/Logo/logo.svg" width="32" height="32" alt="Логотип сайта Физческого факультета"/>
      <span class="button__title">Меню</span>
    </button>
  </section>
  <nav class="header__navigation">
    <a class="header__navigation-link" href="/" title="Главная страница">
      <h2 class="header__navigation-title">ФизФак</h2>
    </a>
    <ul class="header__navigation-list">
      <li class="header__navigation-item">
        <a class="header__navigation-link" href="/entrants.html" title="Раздел сайта посвященный абитуриентам">
          <h3 class="header__navigation-subtitle">Абитуриентам</h3>
        </a>
      </li>
      <li class="header__navigation-item">
        <a class="header__navigation-link" href="/students.html" title="Раздел сайта посвященный студентам">
          <h3 class="header__navigation-subtitle">Студентам</h3>
        </a>
      </li>
      <li class="header__navigation-item">
        <a class="header__navigation-link" href="/postgraduates.html" title="Раздел сайта посвященный аспирантам">
          <h3 class="header__navigation-subtitle">Аспирантам</h3>
        </a>
      </li>
      <li class="header__navigation-item">
        <a class="header__navigation-link" href="/alumni.html" title="Раздел сайта посвященный выпускникам">
          <h3 class="header__navigation-subtitle">Выпускникам</h3>
        </a>
      </li>
      <li class="header__navigation-item">
        <a class="header__navigation-link" href="/teachers.html" title="Раздел сайта посвященный преподавателям">
          <h3 class="header__navigation-subtitle">Преподавателям</h3>
        </a>
      </li>
    </ul>
  </nav>
  <section class="header__language">{% languages 'ru' %}</section>
</header>
