<header class="header">
  <section class="header__menu">
    <button class="header__menu-button button button--sticky" title="Open menu of the site">
      <img class="button__icon" src="/assets/Logo/logo.svg" width="32" height="32" alt="Logo of Physics Faculty"/>
      <span class="button__title">Menu</span>
    </button>
  </section>
  <nav class="header__navigation">
    <a class="header__navigation-link" href="/en/" title="Main page">
      <h2 class="header__navigation-title">Physics</h2>
    </a>
    <ul class="header__navigation-list">
      <li class="header__navigation-item">
        <a class="header__navigation-link" href="/en/entrants.html" title="Site chapter for Entrants">
          <h3 class="header__navigation-subtitle">Entrants</h3>
        </a>
      </li>
      <li class="header__navigation-item">
        <a class="header__navigation-link" href="/en/students.html" title="Site chapter for Students">
          <h3 class="header__navigation-subtitle">Students</h3>
        </a>
      </li>
      <li class="header__navigation-item">
        <a class="header__navigation-link" href="/en/postgraduates.html" title="Site chapter for Postgraduates">
          <h3 class="header__navigation-subtitle">Postgraduates</h3>
        </a>
      </li>
      <li class="header__navigation-item">
        <a class="header__navigation-link" href="/en/alumni.html" title="Site chapter for Alumni">
          <h3 class="header__navigation-subtitle">Alumni</h3>
        </a>
      </li>
      <li class="header__navigation-item">
        <a class="header__navigation-link" href="/en/teachers.html" title="Site chapter for Teachers">
          <h3 class="header__navigation-subtitle">Teachers</h3>
        </a>
      </li>
      <li class="header__navigation-item">
        <a class="header__navigation-link" href="/en/contacts.html" title="Contacts">
          <h3 class="header__navigation-subtitle">Contacts</h3>
        </a>
      </li>
    </ul>
  </nav>
  <section class="header__language">{% languages 'en', permalink %}</section>
</header>
