<li class="key-card block">
  <a
    class="key-card__content block__content"
    href="/ru/news/online-learning-quarantine/index.html"
    title="Условия обучения в период пандемии COVID-19"
  >
    Дистанционное обучение в условиях карантина
  </a>
  <div class="key-card__info block__info">
    <time class="key-card__created">20 марта 2020</time>
    <span class="key-card__reading-time">2 мин чтения</span>
  </div>
</li>
<li class="key-card block">
  <a
    class="key-card__content block__content"
    href="https://docs.google.com/spreadsheets/d/1XcY9uyjseJHvoXXuwuJPvKGVDGu0g-bVQkF6Ukr-blw"
    title="Расписание сессии и пересдач"
  >
    Расписание сессии и пересдач
  </a>
  <div class="key-card__info block__info">
    <time class="key-card__created">Обновлено 26 дек 2020</time>
  </div>
</li>
<li class="key-card block">
  <a
    class="key-card__content block__content"
    href="https://docs.google.com/spreadsheets/d/1nJ7-eGB-gYJNgm5CTqodenKnUSQlhMeFs2gVLuyxEsM"
    title="Расписание занятий"
  >
    Расписание занятий
  </a>
  <div class="key-card__info block__info">
    <time class="key-card__created">Обновлено 30 авг 2020</time>
  </div>
</li>
<li class="key-card block">
  <a
    class="key-card__content block__content"
    href="https://youtu.be/3R2F2x3ybvo"
    title="День открытых дверей физического факультета ВГУ"
  >
    День открытых дверей физического факультета ВГУ
  </a>
  <div class="key-card__info block__info">
    <time class="key-card__created">Обновлено 26 дек 2020</time>
  </div>
</li>
<li class="key-card block">
  <a
    class="key-card__content block__content"
    href="https://vk.com/physsovet"
    title="Официальная группа студенческого совета физического факультета ВГУ во ВКонтакте"
  >
    Студенческий совет физического факультета ВГУ
  </a>
  <div class="key-card__info block__info">
    <time class="key-card__created">Страница во ВКонтакте</time>
  </div>
</li>
<li class="key-card block">
  <a
    class="key-card__content block__content"
    href="https://vk.com/physvsu"
    title="Официальная группа физического факультета ВГУ во ВКонтакте"
  >
    Официальная группа физического факультета ВГУ
  </a>
  <div class="key-card__info block__info">
    <time class="key-card__created">Страница во ВКонтакте</time>
  </div>
</li>
