<li class="key-card block">
  <a
    class="key-card__content block__content"
    href="/en/news/online-learning-quarantine/index.html"
    title="Distance learning in the conditions of the quarantine COVID-19"
  >
    Distance learning in the conditions of the quarantine
  </a>
  <div class="key-card__info block__info">
    <time class="key-card__created">Mar 20, 2020</time>
    <span class="key-card__reading-time">2 min read</span>
  </div>
</li>
<li class="key-card block">
  <a
    class="key-card__content block__content"
    href="https://docs.google.com/spreadsheets/d/1XcY9uyjseJHvoXXuwuJPvKGVDGu0g-bVQkF6Ukr-blw"
    title="Session schedule and retakes"
  >
    Session schedule and retakes
  </a>
  <div class="key-card__info block__info">
    <time class="key-card__created">Updated Dec 26, 2020</time>
  </div>
</li>
<li class="key-card block">
  <a
    class="key-card__content block__content"
    href="https://docs.google.com/spreadsheets/d/1nJ7-eGB-gYJNgm5CTqodenKnUSQlhMeFs2gVLuyxEsM"
    title="Schedule of classes"
  >
    Schedule of classes
  </a>
  <div class="key-card__info block__info">
    <time class="key-card__created">Updated Aug 30, 2020</time>
  </div>
</li>
<li class="key-card block">
  <a
    class="key-card__content block__content"
    href="https://youtu.be/3R2F2x3ybvo"
    title="Open doors day of the faculty of physics of Voronezh State University"
  >
    Open doors day of the faculty of physics of Voronezh State University
  </a>
  <div class="key-card__info block__info">
    <time class="key-card__created">Updated Dec 26, 2020</time>
  </div>
</li>
<li class="key-card block">
  <a
    class="key-card__content block__content"
    href="https://vk.com/physsovet"
    title="Student Council of the Faculty of Physics of VSU"
  >
    Student Council of the Faculty of Physics of VSU
  </a>
  <div class="key-card__info block__info">
    <time class="key-card__created">Page in VKontakte (RU)</time>
  </div>
</li>
<li class="key-card block">
  <a
    class="key-card__content block__content"
    href="https://vk.com/physvsu"
    title="Official group, Department of physics, Voronezh state University во ВКонтакте"
  >
    Official group, Department of physics, Voronezh state University
  </a>
  <div class="key-card__info block__info">
    <time class="key-card__created">Page in VKontakte (RU)</time>
  </div>
</li>
