<li class="key-card block">
  <a
    class="key-card__content block__content"
    href="https://www.vsu.ru/sveden/vacant/index.html"
    title="Сведения о наличии вакантных мест"
  >
    Вакантные места для приема (перевода) обучающихся
  </a>
  <div class="key-card__info block__info">
    <time class="key-card__created">Обновлено 02 янв 2022</time>
  </div>
</li>
<li class="key-card block">
  <a
    class="key-card__content block__content"
    href="https://docs.google.com/spreadsheets/d/1XcY9uyjseJHvoXXuwuJPvKGVDGu0g-bVQkF6Ukr-blw"
    title="Расписание сессии и пересдач"
  >
    Расписание сессии и пересдач
  </a>
  <div class="key-card__info block__info">
    <time class="key-card__created">Обновлено 02 янв 2022</time>
  </div>
</li>
<li class="key-card block">
  <a
    class="key-card__content block__content"
    href="https://docs.google.com/spreadsheets/d/1nJ7-eGB-gYJNgm5CTqodenKnUSQlhMeFs2gVLuyxEsM"
    title="Расписание занятий"
  >
    Расписание занятий
  </a>
  <div class="key-card__info block__info">
    <time class="key-card__created">Обновлено 02 янв 2022</time>
  </div>
</li>
<li class="key-card block">
  <a
    class="key-card__content block__content"
    href="https://youtu.be/-T7UMCFaFxc"
    title="День открытых дверей физического факультета ВГУ"
  >
    Осенний онлайн-марафон открытых дверей ВГУ, Физический факультет
  </a>
  <div class="key-card__info block__info">
    <time class="key-card__created">Обновлено 02 ноя 2021</time>
  </div>
</li>
<li class="key-card block">
  <a
    class="key-card__content block__content"
    href="https://vk.com/physsovet"
    title="Официальная группа студенческого совета физического факультета ВГУ во ВКонтакте"
  >
    Студенческий совет физического факультета ВГУ
  </a>
  <div class="key-card__info block__info">
    <time class="key-card__created">Страница во ВКонтакте</time>
  </div>
</li>
<li class="key-card block">
  <a
    class="key-card__content block__content"
    href="https://vk.com/physvsu"
    title="Официальная группа физического факультета ВГУ во ВКонтакте"
  >
    Официальная группа физического факультета ВГУ
  </a>
  <div class="key-card__info block__info">
    <time class="key-card__created">Страница во ВКонтакте</time>
  </div>
</li>
