<div class="social-list">
  <div class="link-card block">
    <img class="link-card__contact-icon" src="/assets/Icon/VK/Large.svg" alt="Актуальная информация для абитуриентов Физического факультета в группе во ВКонтакте" width="24" height="24"/>
    <a class="link-card__header block__header" href="https://vk.com/physabitur" title="Актуальная информация для абитуриентов Физического факультета в группе во ВКонтакте">Абитуриенты ФизФака ВГУ</a>
    <p class="link-card__contact block__contact">Актуальная информация</p>
  </div>
  <div class="link-card block">
    <img class="link-card__contact-icon" src="/assets/Icon/VK/Large.svg" alt="Актуальная информация для студентов Физического факультета в группе во ВКонтакте" width="24" height="24"/>
    <a class="link-card__header block__header" href="https://vk.com/physvsu" title="Актуальная информация для студентов Физического факультета в группе во ВКонтакте">ФизФак ВГУ</a>
    <p class="link-card__contact block__contact">Группа физиков и им сочувствующих</p>
  </div>
  <div class="link-card block">
    <img class="link-card__contact-icon" src="/assets/Icon/VK/Large.svg" alt="Актуальная информация о студенческом совете Физического факультета в группе во ВКонтакте" width="24" height="24"/>
    <a class="link-card__header block__header" href="https://vk.com/physsovet" title="Актуальная информация о студенческом совете Физического факультета в группе во ВКонтакте">СтудСовет ФизФака ВГУ</a>
    <p class="link-card__contact block__contact">Официальная страница</p>
  </div>
</div>
