<div class="social-list">
  <div class="link-card block">
    <img class="link-card__contact-icon" src="/assets/Icon/VK/Large.svg" alt="Actual information for entrants (RU)" width="24" height="24"/>
    <a class="link-card__header block__header" href="https://vk.com/physabitur" title="Actual information for entrants (RU) at VKontakte">Entrants of Physics Faculty</a>
    <p class="link-card__contact block__contact">Actual information</p>
  </div>
  <div class="link-card block">
    <img class="link-card__contact-icon" src="/assets/Icon/VK/Large.svg" alt="Actual information for students (RU) at VKontakte" width="24" height="24"/>
    <a class="link-card__header block__header" href="https://vk.com/physvsu" title="Actual information for students (RU) at VKontakte">Physics Faculty VSU</a>
    <p class="link-card__contact block__contact">A group of physicists and their sympathizers</p>
  </div>
  <div class="link-card block">
    <img class="link-card__contact-icon" src="/assets/Icon/VK/Large.svg" alt="Actual information about the Student Council of the Faculty of Physics in the group at VKontakte (RU)" width="24" height="24"/>
    <a class="link-card__header block__header" href="https://vk.com/physsovet" title="Actual information about the Student Council of the Faculty of Physics in the group at VKontakte (RU)">Student Council of the Physics Faculty of VSU</a>
    <p class="link-card__contact block__contact">Official Group of Student</p>
  </div>
</div>
