/* Block */

.block {
  font-family: 'Fira Sans', sans-serif;
  line-height: 1.5;
}

.block__list-header {
  margin: 0;
  padding: 0 16px 8px;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
}

.block__caption,
.block__header,
.block__content {
  color: var(--color-text, black);
  text-decoration: none;
}

.block__caption {
  text-decoration: none;
  font-weight: lighter;
  font-size: var(--text-caption-small, 2.3em);
}

.block__header {
  text-decoration: none;
  font-weight: bold;
  font-size: var(--text-header-small, 1em);
}

.block__content {
  font-weight: lighter;
  font-size: var(--text-content-small, 1em);
}

.block__contact,
.block__info {
  color: var(--color-dark, darkgrey);
  font-weight: lighter;
}

.block__contact {
  font-size: var(--text-contact-small, 0.93em);
}

.block__info {
  font-size: var(--text-info-small, 0.79em);
}
