/* Button */

.button {
  cursor: pointer;
  align-items: center;
  background-color: transparent;
  appearance: none;
  display: grid;
  border: none;
  grid-gap: 4px;
  grid-auto-flow: column;
  margin: 0;
  padding: var(--padding-button, 4px);
}

.button__icon {
  object-fit: contain;
}

.button__title {
  color: var(--color-text, black);
  font-weight: lighter;
  font-size: var(--text-size-button, 1em);
  line-height: 1;
  text-transform: uppercase;
}

/* Button Accented */

.button--accent {
  background-color: var(--color-accent, yellow);
}

/* Button in Header */

.button--header {
  padding: var(--padding-button, 4px) 0;
}

.button--header .button__title {
  display: none;
}

@media (min-width: 392px) {
  .button--header .button__title {
    display: block;
  }
}

@media (min-width: 802px) {
  .button--header .button__title {
    display: none;
  }
}
