/* Footer Menu */

.footer-menu {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(2, auto);
  grid-gap: 24px;
  margin: 0;
  padding: 1em 0;
}

@media (min-width: 456px) {
  .footer-menu {
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(3, auto);
  }
}

@media (min-width: 802px) {
  .footer-menu {
    grid-template-rows: repeat(6, auto);
    grid-template-columns: auto;
    grid-gap: 0;
  }
}

.footer-menu__chapter {
  display: grid;
  grid-template-rows: min-content min-content;
  justify-content: flex-start;
  grid-gap: 8px;
  list-style: none;
}

@media (min-width: 802px) {
  .footer-menu__chapter {
    grid-template-rows: min-content;
    grid-template-columns: min-content auto;
    justify-content: center;
    grid-gap: 16px;
  }
}

.footer-menu__chapter-title {
  margin: 0;
  font-weight: bold;
  text-decoration: none;
}

@media (min-width: 802px) {
  .footer-menu__chapter-title {
    font-size: var(--text-size-paragraph-medium, 16px);
  }
}

.footer-menu__list {
  display: grid;
  grid-auto-flow: row;
  justify-content: flex-start;
  grid-gap: 8px;
  margin: 0;
  padding: 0;
}

@media (min-width: 802px) {
  .footer-menu__list {
    grid-auto-flow: column;
    grid-gap: 16px;
  }
}

.footer-menu__item {
  list-style: none;
}

.footer-menu__item-title {
  text-decoration: none;
}

@media (min-width: 802px) {
  .footer-menu__item-title {
    font-size: var(--text-size-paragraph-medium, 16px);
  }
}
