/* Footer */

.footer {
  display: grid;
  grid-template: 'menu' 'address' 'copyright' 'language';
  align-items: flex-start;
  grid-gap: 8px;
  width: 100vw;
  max-width: 1440px;
  padding: 0 var(--padding-default, 1em);
}

@media (min-width: 800px) {
  .footer {
    grid-template: 'menu menu menu menu' 'address address copyright language';
    grid-template-rows: repeat(2, auto);
    grid-template-columns: 25% 25% minmax(max-content, calc(50% - 48px)) 32px;
    grid-auto-flow: unset;
    grid-gap: 16px;
  }
}

.footer__menu {
  display: grid;
  grid-area: menu;
  justify-content: center;
}

.footer__copyright {
  display: grid;
  grid-area: copyright;
  justify-content: flex-start;
  align-self: center;
}

@media (min-width: 800px) {
  .footer__copyright {
    justify-content: flex-end;
  }
}

.footer__address {
  display: grid;
  grid-area: address;
  justify-content: flex-start;
  align-self: center;
}

.footer__language {
  display: grid;
  grid-area: language;
  justify-content: flex-start;
}
