/* Footer */

.footer {
  display: grid;
  grid-auto-flow: row;
  align-items: flex-start;
  grid-gap: 8px;
  width: 100vw;
  max-width: 1440px;
  padding: 0 var(--padding-default, 1em);
}

.footer__menu {
  display: grid;
  justify-content: center;
}

.footer__copyright {
  display: grid;
  justify-content: flex-start;
}

.footer__address {
  display: grid;
  justify-content: flex-start;
}

.footer__language {
  display: grid;
  justify-content: flex-start;
}
