/* Header */

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: grid;
  grid-template-rows: 64px;
  grid-template-columns: 32px auto 32px;
  align-items: center;
  width: 100vw;
  max-width: 1440px;
  padding: 0 var(--padding-default, 1em);
  background-color: white;
}

@media (min-width: 892px) {
  .header {
    grid-template-columns: 36px auto 32px;
  }
}

@media (min-width: 1440px) {
  .header {
    left: calc((100vw - 1440px) / 2);
  }
}

/* Menu */

.header__menu {
  z-index: 10;
  display: block;
}

/* Navigation */

.header__navigation {
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 892px) {
  .header__navigation {
    grid-template-columns: max-content max-content;
    grid-gap: 28px;
  }
}

.header__navigation--open {
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-content: center;
  width: 100vw;
  height: 100vh;
  background-color: white;
}

.header__navigation-list {
  display: none;
  padding: 0;
}

.header__navigation--open .header__navigation-list {
  display: grid;
  justify-content: center;
  grid-gap: 16px;
}

@media (min-width: 892px) {
  .header__navigation-list {
    display: grid;
    grid-template-columns: repeat(6, min-content);
    align-items: center;
    grid-gap: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.header__navigation-title {
  margin: 0;
  font-weight: bold;
  font-size: var(--text-size-title, 1.17em);
}

.header__navigation-title:hover {
  color: var(--color-dark, darkgrey);
}

.header__navigation-link:focus .header__navigation-title {
  color: var(--color-primary, lightblue);
}

.header__navigation-link {
  text-decoration: none;
}

.header__navigation--open .header__navigation-list .header__navigation-link {
  text-align: center;
}

.header__navigation-subtitle {
  margin: 0;
  font-weight: lighter;
  font-size: var(--text-size-button-medium, 1em);
}

.header__navigation-subtitle:hover {
  color: var(--color-dark, darkgrey);
}

.header__navigation-link:active .header__navigation-subtitle {
  font-weight: bold;
}

.header__navigation-link:focus .header__navigation-subtitle {
  color: var(--color-primary, lightblue);
}

.header__navigation-item {
  list-style: none;
}

.header__navigation-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-size: var(--text-size-title, 1.17em);
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: 892px) {
  .header__navigation-title {
    justify-content: flex-start;
  }
}

/* Language Selector */

.header__language {
  display: flex;
  justify-content: center;
  align-items: center;
}
