/* Header */

.header {
  align-items: center;
  display: grid;
  grid-template-columns: 32px auto 32px;
  grid-template-rows: 64px;
  width: 100vw;
  max-width: 1440px;
  padding: 0 var(--padding-default, 1em);
}

@media (min-width: 802px) {
  .header {
    grid-template-columns: 36px auto 32px;
  }
}

/* Menu */

.header__menu {
  display: block;
}

/* Navigation */

.header__navigation {
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 802px) {
  .header__navigation {
    grid-gap: 28px;
    grid-template-columns: max-content max-content;
  }
}

.header__navigation-list {
  display: none;
}

@media (min-width: 802px) {
  .header__navigation-list {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(5, min-content);
    list-style: none;
  }
}

.header__navigation-title {
  font-size: var(--text-size-title);
  font-weight: bold;
  margin: 0;
}

.header__navigation-subtitle {
  font-size: var(--text-size-button);
  font-weight: lighter;
  margin: 0;
}

.header__navigation-item {
  list-style: none;
}

.header__navigation-list {
  padding: 0;
}

@media (min-width: 802px) {
  .header__navigation-list {
    align-items: center;
    display: flex;
    margin: 0;
    padding: 0;
  }
}

.header__navigation-title {
  align-items: center;
  display: flex;
  font-size: var(--text-size-title, 1.17em);
  justify-content: center;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: 802px) {
  .header__navigation-title {
    justify-content: flex-start;
  }
}

/* Language Selector */

.header__language {
  align-items: center;
  display: flex;
  justify-content: center;
}
