/* Main Page */

.main {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 32px;
  padding: 32px 0;
}

.main__key-list-wrapper {
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: key-counter;
}
