/* Main Page */

.main {
  display: grid;
  grid-template: 'image' 'key' 'read' 'news' 'departments' 'contact';
  grid-gap: 32px;
}

@media (min-width: 640px) {
  .main {
    grid-template: 'image image' 'key key' 'news read' 'departments departments' 'contact contact';
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 0;
  }
}

@media (min-width: 960px) {
  .main {
    grid-template: 'image image image image image image' 'key key key key key key' 'news news news read read read' 'departments departments departments departments departments departments' 'contact contact contact contact contact contact';
    grid-template-columns: repeat(6, 1fr);
  }
}

.main__main-image-wrapper {
  grid-area: image;
}

.main__main-image {
  margin: 0;
}

.main__key-list {
  grid-area: key;
  padding: 28px;
}

.main__key-list-wrapper {
  display: grid;
  grid-auto-flow: row;
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: key-counter;
}

@media (min-width: 640px) {
  .main__key-list-wrapper {
    padding: 44px;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: unset;
  }
}

@media (min-width: 960px) {
  .main__key-list-wrapper {
    padding: 60px;
    grid-template-columns: repeat(3, 1fr);
  }
}

.main__news-list {
  grid-area: news;
  padding: 28px;
}

.main__read-list {
  grid-area: read;
  padding: 28px;
}

.main__dep-list {
  grid-area: departments;
  padding: 28px;
}

.main__dep-contact {
  grid-area: contact;
  justify-self: center;
}
