/* Page */

.page,
.page__body {
  margin: 0;
}

.page {
  color: var(--color-text, black);
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
  background-color: var(--color-background, white);
}

.page__body {
  display: grid;
  grid-auto-flow: row;
  justify-items: center;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-text, black);
  font-weight: bold;
  font-family: 'Fira Sans', sans-serif;
}

a {
  color: var(--color-text, black);
}

a:hover {
  color: var(--color-dark, darkgrey);
}

a:focus {
  color: var(--color-secondary, lightblue);
}
