/* Fonts */

@import 'fonts.css';

/* Blocks */

@import 'blocks/box-sizing.css';
@import 'blocks/visually-hidden.css';
@import 'blocks/button.css';
@import 'blocks/page.css';
@import 'blocks/header.css';
@import 'blocks/languages.css';

:root {
  --color-accent: #f6e501;
  --color-background: #ffffff;
  --color-dark: #a5a9aa;
  --color-light: #e7e9e6;
  --color-primary: #0057a1;
  --color-secondary: #7cb3d2;
  --color-text: #2a2d2d;

  --text-size-button: 1em;
  --text-size-header-1: 2em;
  --text-size-header-2: 1.5em;
  --text-size-header-3: 1.17em;
  --text-size-header-4: 1em;
  --text-size-header-5: 0.83em;
  --text-size-header-6: 0.67em;
  --text-size-title: 1.17em;
  --text-size-paragraph: 1em;

  --padding-button: 0.63em;
  --padding-default: 1em;
}
