---
title: 'Где находится ФизФак ВГУ и как с нами можно связаться?'
layout: 'page.ru.njk'
permalink: '/contacts.html'
---
<main class="contacts">
  <div class="contacts__map">
    <a class="contacts__map-link" href="https://yandex.ru/maps/-/CCUI7UTl3C" title="Физический факультет ВГУ расположен в основном в Главном корпусе ВГУ">
      <img class="contacts__map-image"
        srcset="
          https://static-maps.yandex.ru/1.x/?ll=39.205842,51.656949&z=15&l=map&size=320,279 320w,
          https://static-maps.yandex.ru/1.x/?ll=39.205842,51.656949&z=15&l=map&size=375,328 375w,
          https://static-maps.yandex.ru/1.x/?ll=39.205842,51.656949&z=15&l=map&size=414,362 414w,
          https://static-maps.yandex.ru/1.x/?ll=39.205842,51.656949&z=15&l=map&size=640,450 640w"
        sizes="(min-width: 640px) 640px, (min-width: 414px) 414px, (min-width: 375px) 375px, 320px"
        src="https://static-maps.yandex.ru/1.x/?ll=39.205842,51.656949&z=15&l=map&size=640,450"
        alt="Физический факультет – один из старейших. Он располагается в главном корпусе ВГУ"
      >
    </a>
  </div>
</main>
