---
title: 'Contacts of Physics Faculty of VSU'
layout: 'page.en.njk'
permalink: '/en/contacts.html'
---
<main class="contacts">
  <div class="contacts__map">
    <a class="contacts__map-link" href="https://yandex.ru/maps/-/CCUI7UTl3C" title="Physics Faculty is in the main building">
      <img class="contacts__map-image"
        srcset="
          https://maps.googleapis.com/maps/api/staticmap?center=Voronezh+State+University&zoom=15&language=en_US&maptype=roadmap&format=jpg&size=320x279&key=AIzaSyBLJCCN31ka4NUx5QqT_dyurDOcHZFT-yY 320w,
          https://maps.googleapis.com/maps/api/staticmap?center=Voronezh+State+University&zoom=15&language=en_US&maptype=roadmap&format=jpg&size=375x328&key=AIzaSyBLJCCN31ka4NUx5QqT_dyurDOcHZFT-yY 375w,
          https://maps.googleapis.com/maps/api/staticmap?center=Voronezh+State+University&zoom=15&language=en_US&maptype=roadmap&format=jpg&size=414x362&key=AIzaSyBLJCCN31ka4NUx5QqT_dyurDOcHZFT-yY 414w,
          https://maps.googleapis.com/maps/api/staticmap?center=Voronezh+State+University&zoom=15&language=en_US&maptype=roadmap&format=jpg&size=640x450&key=AIzaSyBLJCCN31ka4NUx5QqT_dyurDOcHZFT-yY 640w"
        sizes="(min-width: 640px) 640px, (min-width: 414px) 414px, (min-width: 375px) 375px, 320px"
        src="https://maps.googleapis.com/maps/api/staticmap?center=Voronezh+State+University&zoom=15&language=en_US&maptype=roadmap&format=jpg&size=640x450&key=AIzaSyBLJCCN31ka4NUx5QqT_dyurDOcHZFT-yY"
        alt="Physics Faculty is one of oldest faculties of VSU. It places in the main building"
      >
    </a>
  </div>
</main>
