---
title: 'Информация для абитуриентов Физического факултета ВГУ'
layout: 'page.ru.njk'
permalink: '/entrants.html'
---
<main class="entrants block">
  <div class="entrants__links">
    <div class="link-card block">
      <img class="link-card__contact-icon" src="/assets/Icon/Document/Large.svg" alt="Правила приема для поступающих в ВГУ" width="24" height="24"/>
      <a class="link-card__header block__header" href="http://www.abitur.vsu.ru/sites/default/files/admission2021/rules.pdf" title="Правила приема для поступающих в ВГУ">Правила приема</a>
      <p class="link-card__contact block__contact">Обновлено 16 января 2021</p>
    </div>
    <div class="link-card block">
      <img class="link-card__contact-icon" src="/assets/Icon/Link/Large.svg" alt="Абитуриент Онлайн для поступающих в ВГУ" width="24" height="24"/>
      <a class="link-card__header block__header" href="http://abitur.vsu.ru/" title="Абитуриент Онлайн для поступающих в ВГУ">Абитуриент Онлайн</a>
      <p class="link-card__contact block__contact">abitur.vsu.ru</p>
    </div>
  </div>
  <div class="entrants__video-list">
    <div class="entrants__video">
      <h2 class="entrants__video-header block__list-header">Правила приема 2021</h2>
      <div class="video">
        <a class="video__link" href="https://youtu.be/WU2YW5wOCNk">
          <picture>
            <source srcset="https://i.ytimg.com/vi_webp/WU2YW5wOCNk/maxresdefault.webp" type="image/webp">
            <img class="video__media" src="https://i.ytimg.com/vi/WU2YW5wOCNk/maxresdefault.jpg" alt="Правила приема в ВГУ 2021">
          </picture>
        </a>
        <button class="video__button" aria-label="Запустить видео">
          <svg width="68" height="48" viewbox="0 0 68 48">
            <path class="video__button-shape" d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"></path>
            <path class="video__button-icon" d="M 45,24 27,14 27,34"></path>
          </svg>
        </button>
      </div>
    </div>
    <div class="entrants__video">
      <h2 class="entrants__video-header block__list-header">День открытых дверей</h2>
      <div class="video">
        <a class="video__link" href="https://youtu.be/3R2F2x3ybvo">
          <picture>
            <source srcset="https://i.ytimg.com/vi_webp/3R2F2x3ybvo/maxresdefault.webp" type="image/webp">
            <img class="video__media" src="https://i.ytimg.com/vi/3R2F2x3ybvo/maxresdefault.jpg" alt="Правила приема в ВГУ 2021">
          </picture>
        </a>
        <button class="video__button" aria-label="Запустить видео">
          <svg width="68" height="48" viewbox="0 0 68 48">
            <path class="video__button-shape" d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"></path>
            <path class="video__button-icon" d="M 45,24 27,14 27,34"></path>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <div class="entrants__statistics">
    <div class="entrants__spec-list">
      <div class="entrants__spec spec-card block">
        <h2 class="spec-card__header block__list-header">Информатика и вычислительная техника</h2>
        <div class="spec-card__spec-info">
          <div class="spec-card__info-circle block__caption">
            <svg width="80" height="80" viewbox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="40" cy="40" r="35" fill="#F0EEE9"/>
              <text class="block__caption" x="40" y="40" dy="12.75" text-anchor="middle" fill="#363B48">30</text>
            </svg>
            <div class="spec-card__info-legend block__info">бюджетных мест</div>
          </div>
          <div class="spec-card__info-circle block__caption">
            <svg width="80" height="80" viewbox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="40" cy="40" r="35" fill="#F0EEE9"/>
              <text class="block__caption" x="40" y="40" dy="12.75" text-anchor="middle" fill="#363B48">208</text>
              <path id="spec-info-min" fill="none" stroke="#F5DF4D" stroke-width="5" />
            </svg>
            <div class="spec-card__info-legend block__info">проходной бал (2020)</div>
          </div>
          <ul class="spec-card__info-exams">
            <li class="spec-card__info-exam">Физика/Информ.</li>
            <li class="spec-card__info-exam">Математика*</li>
            <li class="spec-card__info-exam">Русский язык</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="entrants__spec-list">
      <div class="entrants__spec spec-card">
        <h2 class="spec-card__header block__list-header">Радиофизика</h2>
        <div class="spec-card__spec-info">
          <div class="spec-card__info-circle block__caption">
            <svg width="80" height="80" viewbox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="40" cy="40" r="35" fill="#F0EEE9"/>
              <text class="block__caption" x="40" y="40" dy="12.75" text-anchor="middle" fill="#363B48">85</text>
            </svg>
            <div class="spec-card__info-legend block__info">бюджетных мест</div>
          </div>
          <div class="spec-card__info-circle block__caption">
            <svg width="80" height="80" viewbox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="40" cy="40" r="35" fill="#F0EEE9"/>
              <text class="block__caption" x="40" y="40" dy="12.75" text-anchor="middle" fill="#363B48">149</text>
              <path id="spec-radi-min" fill="none" stroke="#F5DF4D" stroke-width="5" />
            </svg>
            <div class="spec-card__info-legend block__info">проходной бал (2020)</div>
          </div>
          <ul class="spec-card__info-exams">
            <li class="spec-card__info-exam">Физика</li>
            <li class="spec-card__info-exam">Математика*</li>
            <li class="spec-card__info-exam">Русский язык</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="entrants__spec-list">
      <div class="entrants__spec spec-card">
        <h2 class="spec-card__header block__list-header">Физика</h2>
        <div class="spec-card__spec-info">
          <div class="spec-card__info-circle block__caption">
            <svg width="80" height="80" viewbox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="40" cy="40" r="35" fill="#F0EEE9"/>
              <text class="block__caption" x="40" y="40" dy="12.75" text-anchor="middle" fill="#363B48">70</text>
            </svg>
            <div class="spec-card__info-legend block__info">бюджетных мест</div>
          </div>
          <div class="spec-card__info-circle block__caption">
            <svg width="80" height="80" viewbox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="40" cy="40" r="35" fill="#F0EEE9"/>
              <text class="block__caption" x="40" y="40" dy="12.75" text-anchor="middle" fill="#363B48">142</text>
              <path id="spec-phys-min" fill="none" stroke="#F5DF4D" stroke-width="5" />
            </svg>
            <div class="spec-card__info-legend block__info">проходной бал (2020)</div>
          </div>
          <ul class="spec-card__info-exams">
            <li class="spec-card__info-exam">Физика</li>
            <li class="spec-card__info-exam">Математика*</li>
            <li class="spec-card__info-exam">Русский язык</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="entrants__spec-list">
      <div class="entrants__spec spec-card">
        <h2 class="spec-card__header block__list-header">Фотоника и оптоинформатика</h2>
        <div class="spec-card__spec-info">
          <div class="spec-card__info-circle block__caption">
            <svg width="80" height="80" viewbox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="40" cy="40" r="35" fill="#F0EEE9"/>
              <text class="block__caption" x="40" y="40" dy="12.75" text-anchor="middle" fill="#363B48">9</text>
            </svg>
            <div class="spec-card__info-legend block__info">бюджетных мест</div>
          </div>
          <div class="spec-card__info-circle block__caption">
            <svg width="80" height="80" viewbox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="40" cy="40" r="35" fill="#F0EEE9"/>
              <text class="block__caption" x="40" y="40" dy="12.75" text-anchor="middle" fill="#363B48">176</text>
              <path id="spec-phot-min" fill="none" stroke="#F5DF4D" stroke-width="5" />
            </svg>
            <div class="spec-card__info-legend block__info">проходной бал (2020)</div>
          </div>
          <ul class="spec-card__info-exams">
            <li class="spec-card__info-exam">Математика*</li>
            <li class="spec-card__info-exam">Физика</li>
            <li class="spec-card__info-exam">Русский язык</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="entrants__spec-list">
      <div class="entrants__spec spec-card">
        <h2 class="spec-card__header block__list-header">Электроника и наноэлектроника</h2>
        <div class="spec-card__spec-info">
          <div class="spec-card__info-circle block__caption">
            <svg width="80" height="80" viewbox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="40" cy="40" r="35" fill="#F0EEE9"/>
              <text class="block__caption" x="40" y="40" dy="12.75" text-anchor="middle" fill="#363B48">33</text>
            </svg>
            <div class="spec-card__info-legend block__info">бюджетных мест</div>
          </div>
          <div class="spec-card__info-circle block__caption">
            <svg width="80" height="80" viewbox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="40" cy="40" r="35" fill="#F0EEE9"/>
              <text class="block__caption" x="40" y="40" dy="12.75" text-anchor="middle" fill="#363B48">163</text>
              <path id="spec-nano-min" fill="none" stroke="#F5DF4D" stroke-width="5" />
            </svg>
            <div class="spec-card__info-legend block__info">проходной бал (2020)</div>
          </div>
          <ul class="spec-card__info-exams">
            <li class="spec-card__info-exam">Физика/Информ.</li>
            <li class="spec-card__info-exam">Математика*</li>
            <li class="spec-card__info-exam">Русский язык</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="entrants__spec-list">
      <div class="entrants__spec spec-card">
        <h2 class="spec-card__header block__list-header">Ядерные физика и технологии</h2>
        <div class="spec-card__spec-info">
          <div class="spec-card__info-circle block__caption">
            <svg width="80" height="80" viewbox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="40" cy="40" r="35" fill="#F0EEE9"/>
              <text class="block__caption" x="40" y="40" dy="12.75" text-anchor="middle" fill="#363B48">24</text>
            </svg>
            <div class="spec-card__info-legend block__info">бюджетных мест</div>
          </div>
          <div class="spec-card__info-circle block__caption">
            <svg width="80" height="80" viewbox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="40" cy="40" r="35" fill="#F0EEE9"/>
              <text class="block__caption" x="40" y="40" dy="12.75" text-anchor="middle" fill="#363B48">238</text>
              <path id="spec-nucl-min" fill="none" stroke="#F5DF4D" stroke-width="5" />
            </svg>
            <div class="spec-card__info-legend block__info">проходной бал (2020)</div>
          </div>
          <ul class="spec-card__info-exams">
            <li class="spec-card__info-exam">Физика</li>
            <li class="spec-card__info-exam">Математика*</li>
            <li class="spec-card__info-exam">Русский язык</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</main>
<script src="/scripts/video.js"></script>
<script src="/scripts/arc.js"></script>
