---
title: 'Физический факультет, ВГУ'
layout: 'page.ru.njk'
permalink: '/index.html'
---
<main class="main">
  <div class="main__key-list block">
    <h2 class="main__key-list-title block__list-header">Полезное</h2>
    <ol class="main__key-list-wrapper">
      {% include 'key-card.ru.njk' %}
    </ol>
  </div>
  <div class="main__news-list block">
    <h2 class="main__news-list-title block__list-header">Новости</h2>
    {% include 'news-card.ru.njk' %}
  </div>
  <div class="main__read-list block">
    <h2 class="main__read-list-title block__list-header">Почитать</h2>
    {% include 'read-card.ru.njk' %}
  </div>
</main>
