---
title: 'Physics Faculty, VSU'
layout: 'page.en.njk'
permalink: '/en/index.html'
---
<main class="main">
  <div class="main__news-list block">
    <h2 class="news-list-title block__list-header">News</h2>
    {% include 'news-card.en.njk' %}
  </div>
</main>
