---
title: 'Информация для асприантов Физического факультета ВГУ'
layout: 'page.ru.njk'
permalink: '/postgraduates.html'
---
<main class="postgraduates block">
  <div class="postgraduates__links">
    <div class="link-card block">
      <img class="link-card__contact-icon" src="/assets/Icon/Link/Large.svg" alt="Подача документов и участие в конкурсе" width="24" height="24"/>
      <a class="link-card__header block__header" href="http://abitur.vsu.ru/" title="Подача документов и участие в конкурсе">Подача документов и участие в конкурсе</a>
      <p class="link-card__contact block__contact">abitur.vsu.ru</p>
    </div>
    <div class="link-card block">
      <img class="link-card__contact-icon" src="/assets/Icon/VK/Large.svg" alt="Группа для аспирантов ФизФака ВГУ" width="24" height="24"/>
      <a class="link-card__header block__header" href="https://vk.com/physasp" title="Группа для аспирантов ФизФака ВГУ">Группа для аспирантов ФизФака ВГУ</a>
      <p class="link-card__contact block__contact">https://vk.com/physasp</p>
    </div>
    <div class="link-card block">
      <img class="link-card__contact-icon" src="/assets/Icon/Document/Large.svg" alt="Методичка «Психология и педагогика высшей школы»" width="24" height="24"/>
      <a class="link-card__header block__header" href="https://vk.com/doc-186078923_569049128" title="Методичка «Психология и педагогика высшей школы»">Методичка «Психология и педагогика высшей школы»</a>
      <p class="link-card__contact block__contact">vk.com</p>
    </div>
    <div class="link-card block">
      <img class="link-card__contact-icon" src="/assets/Icon/Document/Large.svg" alt="Учебно-методическое пособие для подготовки к кандидатскому экзамену" width="24" height="24"/>
      <a class="link-card__header block__header" href="https://vk.com/doc-186078923_552141206" title="Учебно-методическое пособие для подготовки к кандидатскому экзамену">Учебно-методическое пособие для подготовки к кандидатскому экзамену</a>
      <p class="link-card__contact block__contact">vk.com</p>
    </div>
    <div class="link-card block">
      <img class="link-card__contact-icon" src="/assets/Icon/Document/Large.svg" alt="Конспект по философии" width="24" height="24"/>
      <a class="link-card__header block__header" href="https://vk.com/doc-186078923_513938008" title="Конспект по философии">Конспект по философии</a>
      <p class="link-card__contact block__contact">vk.com</p>
    </div>
    <div class="link-card block">
      <img class="link-card__contact-icon" src="/assets/Icon/Document/Large.svg" alt="Вопросы Философия" width="24" height="24"/>
      <a class="link-card__header block__header" href="https://vk.com/doc-186078923_513713131" title="Вопросы Философия">Вопросы Философия</a>
      <p class="link-card__contact block__contact">vk.com</p>
    </div>
    <div class="link-card block">
      <img class="link-card__contact-icon" src="/assets/Icon/Document/Large.svg" alt="Вопросы Английский" width="24" height="24"/>
      <a class="link-card__header block__header" href="https://vk.com/doc-186078923_513713120" title="Вопросы Английский">Вопросы Английский</a>
      <p class="link-card__contact block__contact">vk.com</p>
    </div>
    <div class="link-card block">
      <img class="link-card__contact-icon" src="/assets/Icon/Document/Large.svg" alt="Вопросы Специальность" width="24" height="24"/>
      <a class="link-card__header block__header" href="https://vk.com/doc-186078923_513713106" title="Вопросы Специальность">Вопросы Специальность</a>
      <p class="link-card__contact block__contact">vk.com</p>
    </div>
  </div>
</main>
