<!DOCTYPE html>
<html class="page" lang="ru">
<head>
  {% if page.url == '/' %}
      {% set isIndex = true %}
  {% else %}
      {% set titleSuffix = ' — Физический факультет ВГУ' %}
      {% set isIndex = false %}
  {% endif %}

  <title>
    {{ renderData.title or title }}{{ titleSuffix }}
  </title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% include 'open-graph.njk' %}
  {% include 'icons.njk' %}

  <link rel="manifest" href="/assets/site.webmanifest">
  <link rel="preload" href="/assets/Icon/Close.svg" as="image">
  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="stylesheet" href="/styles/print.css" media="print">
</head>
<body class="page__body">
  {% include 'header.ru.njk' %}
  <div class="page__content">
    {{ content | safe }}
  </div>
  {% include 'footer.ru.njk' %}
  <script src="/scripts/scripts.js"></script>
</body>
</html>
